{% extends 'base.html.twig' %}

{% block body %}

<figure class="sapin"></figure>

<div class="userWrapper">
    
    <h1>SOS Noël !</h1>
    
    <p><strong>Après une année 2020 catastrophique, le secteur de l'événementiel est au bord du gouffre.</strong></p>
    <p>Puisque nous n'arrivons pas à nous faire entendre, nous avons décidé de nous adresser cette fois en plus haut lieu : <strong>au Père Noël !</strong></p>
    <p>Pour appuyer notre démarche, nous exprimer votre soutient, <strong>nous vous proposons de vous joindre à nous en signant cette e-petition.</strong></p>

</div> 

<div class="example-wrapper">

    <h1>Ho Ho Ho !</h1>

    <!-- Message envoyé -->
    <div>{{ message.message }}</div>
    <div>{{ message.nom }}</div>
    <div>{{ message.date|date("d/m H:i") }}</div>
</div>

<!--
<a href={{ path('user_index') }}"> Nouvelle lettre </a>
-->

{% endblock %}

